# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [13]:
def moving_avg(lst,n):
    i=0
    avg_=[]
    while i<=(len(lst)-n):
        data=lst[i:(i+n)]
        avg=sum(data)/n
        avg_.append(avg)
        i+=1
    return(avg_)

In [14]:
moving_avg( [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] ,3)

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [24]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df['Y'] =df['Y'] .astype(int)

In [25]:
df.head()

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [14]:
import pandas as pd
from numpy.random import rand
Indx=pd.date_range('2015-01-01', '2015-12-31',freq='B')
Num=rand(len(Indx))
DatetimeIndex=pd.Series(Num,index=Indx)

In [15]:
DatetimeIndex

2015-01-01    0.565278
2015-01-02    0.480396
2015-01-05    0.719138
2015-01-06    0.977110
2015-01-07    0.556440
                ...
2015-12-25    0.407738
2015-12-28    0.164012
2015-12-29    0.046487
2015-12-30    0.004682
2015-12-31    0.582604
Freq: B, Length: 261, dtype: float64

In [26]:
DatetimeIndex.shape

(261,)